<div class="row">
  <div class="col-12 d-flex justify-content-between">
    <div class="content-header col-lg-6">Video Section</div>
    <button (click)="submitForm()" [disabled]="!videoForm.valid" class="btn btn-success col-lg-2">Save</button>
    <!-- <p class="content-sub-header mb-1">You can define your sub-header here</p> -->
  </div>
</div>

<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">Video Section</h4>
        <h6 class="mt-2 mb-0">All fields are required, You must fill all fields to save your data.</h6>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <form [formGroup]="videoForm">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <div class="custom-switch custom-switch-info  mb-1 mb-xl-0">
                    <input formControlName="isVideo" type="checkbox" class="custom-control-input" id="color-switch-6">
                    <label class="custom-control-label mr-1" for="color-switch-6">
                      <span>Video</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <label for="">Title En</label>
                  <input [ngClass]="{ 'is-invalid': videoForm.controls.titleEn.errors?.required && videoForm.controls.titleEn.touched}" formControlName="titleEn" type="text" class="form-control" >
                  <div *ngIf="videoForm.controls.titleEn.errors?.required && videoForm.controls.titleEn.touched" class="help-block mt-1 text-danger"> <i
                    class="ft-alert-circle align-middle"></i> This field is required </div>
                </div>
                <div class="form-group col-lg-6">
                  <label for="">Title Ar</label>
                  <input [ngClass]="{ 'is-invalid': videoForm.controls.titleAr.errors?.required && videoForm.controls.titleAr.touched}" formControlName="titleAr" type="text" class="form-control" >
                  <div *ngIf="videoForm.controls.titleAr.errors?.required && videoForm.controls.titleAr.touched" class="help-block mt-1 text-danger"> <i
                    class="ft-alert-circle align-middle"></i> This field is required </div>
                </div>
              </div>
              <div class="form-row" >
                <div class="form-group col-lg-6">
                  <label for="">Link</label>
                  <input [ngClass]="{ 'is-invalid': videoForm.controls.link.errors?.required && videoForm.controls.link.touched}" formControlName="link" type="text" class="form-control" >
                  <div *ngIf="videoForm.controls.link.errors?.required && videoForm.controls.link.touched" class="help-block mt-1 text-danger"> <i
                    class="ft-alert-circle align-middle"></i> This field is required </div>
                </div>
                <div class="form-group col-lg-6" *ngIf="videoForm.controls.isVideo.value == true">
                  <label for="">Video Link</label>
                  <input  formControlName="videoLink" type="text" class="form-control" >
                </div>
              </div>
              <div class="form-row" *ngIf="videoForm.controls.isVideo.value == false">
                <div class="form-group col-lg-6">
                  <label for="">Upload Image Pc</label>
                  <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                    Image dimensions is: 535*250
                  </ngb-alert>
                   <app-uploader  [type]="'imagePc'"  [imageSrc]="videoForm.controls.imagePc.value.url" [formGroup]="videoForm" (uploadedImage)="doneUploadingImagePc($event)" [isMultiable]="false"></app-uploader>
                </div>
                <div class="form-group col-lg-6">
                  <label for="">Upload Image Mobile</label>
                  <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                    Image dimensions is: 325*150
                  </ngb-alert>
                  <app-uploader [type]="'imageMobile'"  [imageSrc]="videoForm.controls.imageMobile.value.url"[formGroup]="videoForm" (uploadedImage)="doneUploadingImageMobile($event)" [isMultiable]="false"></app-uploader>
                </div>
              </div>
              <div class="form-row">
                <div class="mx-auto col-lg-12">
                  <div id="full-wrapper">
                    <div id="full-container">
                      <label for="">Description En</label>
                      <quill-editor formControlName="descriptionEn"></quill-editor>
                      <div *ngIf="videoForm.controls.descriptionEn.errors?.required && videoForm.controls.descriptionEn.touched" class="help-block mt-1 text-danger"> <i
                        class="ft-alert-circle align-middle"></i> This field is required </div>
                        <p class="counter">Number of Words : {{editorEnCounter}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row pt-3">
                <div class="mx-auto col-lg-12">
                  <div id="full-wrapper">
                    <div id="full-container">
                      <label for="">Description Ar</label>
                      <quill-editor formControlName="descriptionAr"></quill-editor>
                      <div *ngIf="videoForm.controls.descriptionAr.errors?.required && videoForm.controls.descriptionAr.touched" class="help-block mt-1 text-danger"> <i
                        class="ft-alert-circle align-middle"></i> This field is required </div>
                        <p class="counter">Number of Words : {{editorArCounter}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>
