<div class="row">
  <div class="col-12 d-flex justify-content-between">
    <div class="content-header col-lg-6">Project</div>
    <button (click)="cancel()" class="btn btn-danger col-lg-2">Cancel</button>
    <button (click)="submitForm()" [disabled]="!formGroup.valid" class="btn btn-success col-lg-2">Save</button>
    <!-- <p class="content-sub-header mb-1">You can define your sub-header here</p> -->
  </div>
</div>

<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">{{isEditingMode ? 'Edit Project' : 'Add New Project'}}</h4>
        <h6 class="mt-2 mb-0">All fields are required, You must fill all fields to save your data.</h6>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <form [formGroup]="formGroup">
              <ul ngbNav #basicnav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                  <a ngbNavLink>English</a>
                  <ng-template ngbNavContent>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Name</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.nameEn.errors?.required && formGroup.controls.nameEn.touched}" formControlName="nameEn" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.nameEn.errors?.required && formGroup.controls.nameEn.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Metatag Title</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.metatagTitleEn.errors?.required && formGroup.controls.metatagTitleEn.touched}" formControlName="metatagTitleEn" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.metatagTitleEn.errors?.required && formGroup.controls.metatagTitleEn.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Keyword</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.metatagTypeEn.errors?.required && formGroup.controls.metatagTypeEn.touched}" formControlName="metatagTypeEn" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.metatagTypeEn.errors?.required && formGroup.controls.metatagTypeEn.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Metatag Description</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.metatagDescriptionEn.errors?.required && formGroup.controls.metatagDescriptionEn.touched}" formControlName="metatagDescriptionEn" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.metatagDescriptionEn.errors?.required && formGroup.controls.metatagDescriptionEn.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Location</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.locationEn.errors?.required && formGroup.controls.locationEn.touched}" formControlName="locationEn" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.locationEn.errors?.required && formGroup.controls.locationEn.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Developer Name</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.developerNameEn.errors?.required && formGroup.controls.developerNameEn.touched}" formControlName="developerNameEn" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.developerNameEn.errors?.required && formGroup.controls.developerNameEn.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Size</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.sizeEn.errors?.required && formGroup.controls.sizeEn.touched}" formControlName="sizeEn" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.sizeEn.errors?.required && formGroup.controls.sizeEn.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Property Type</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.propertyTypeEn.errors?.required && formGroup.controls.propertyTypeEn.touched}" formControlName="propertyTypeEn" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.propertyTypeEn.errors?.required && formGroup.controls.propertyTypeEn.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="mx-auto">
                        <div id="full-wrapper">
                          <div id="full-container">
                            <label for="">Description</label>
                            <quill-editor formControlName="descriptionEn" (onContentChanged)="onContentChangedEn($event)"></quill-editor>
                            <div *ngIf="formGroup.controls.descriptionEn.errors?.required && formGroup.controls.descriptionEn.touched" class="help-block mt-1 text-danger"> <i
                              class="ft-alert-circle align-middle"></i> This field is required </div>
                            <p class="counter">Number of Words : {{editorEnCounter}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a ngbNavLink>Arabic</a>
                  <ng-template ngbNavContent>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Name</label>
                        <input dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.nameAr.errors?.required && formGroup.controls.nameAr.touched}" formControlName="nameAr" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.nameAr.errors?.required && formGroup.controls.nameAr.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Metatag Title</label>
                        <input dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.metatagTitleAr.errors?.required && formGroup.controls.metatagTitleAr.touched}" formControlName="metatagTitleAr" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.metatagTitleAr.errors?.required && formGroup.controls.metatagTitleAr.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Keyword</label>
                        <input dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.metatagTypeAr.errors?.required && formGroup.controls.metatagTypeAr.touched}" formControlName="metatagTypeAr" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.metatagTypeAr.errors?.required && formGroup.controls.metatagTypeAr.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Metatag Description</label>
                        <input dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.metatagDescriptionAr.errors?.required && formGroup.controls.metatagDescriptionAr.touched}" formControlName="metatagDescriptionAr" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.metatagDescriptionAr.errors?.required && formGroup.controls.metatagDescriptionAr.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Location</label>
                        <input dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.locationAr.errors?.required && formGroup.controls.locationAr.touched}" formControlName="locationAr" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.locationAr.errors?.required && formGroup.controls.locationAr.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Developer Name</label>
                        <input dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.developerNameAr.errors?.required && formGroup.controls.developerNameAr.touched}" formControlName="developerNameAr" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.developerNameAr.errors?.required && formGroup.controls.developerNameAr.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Size</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.sizeAr.errors?.required && formGroup.controls.sizeAr.touched}" formControlName="sizeAr" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.sizeAr.errors?.required && formGroup.controls.sizeAr.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Property Type</label>
                        <input dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.propertyTypeAr.errors?.required && formGroup.controls.propertyTypeAr.touched}" formControlName="propertyTypeAr" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.propertyTypeAr.errors?.required && formGroup.controls.propertyTypeAr.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="mx-auto">
                        <div id="full-wrapper">
                          <div id="full-container">
                            <label for="">Description</label>
                            <quill-editor formControlName="descriptionAr" (onContentChanged)="onContentChangedAr($event)"></quill-editor>
                            <div *ngIf="formGroup.controls.descriptionAr.errors?.required && formGroup.controls.descriptionAr.touched" class="help-block mt-1 text-danger"> <i
                              class="ft-alert-circle align-middle"></i> This field is required </div>
                              <p class="counter">Number of Words : {{editorArCounter}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="3">
                  <a ngbNavLink>Config</a>
                  <ng-template ngbNavContent>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Phone</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.phone.errors?.required && formGroup.controls.phone.touched}" formControlName="phone" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.phone.errors?.required && formGroup.controls.phone.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Whats App number</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.whatsNumber.errors?.required && formGroup.controls.whatsNumber.touched}" formControlName="whatsNumber" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.whatsNumber.errors?.required && formGroup.controls.whatsNumber.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Price</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.price.errors?.required && formGroup.controls.price.touched}" formControlName="price" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.price.errors?.required && formGroup.controls.price.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Related Projects</label>
                        <ng-select [ngClass]="{ 'is-invalid': !selectedProjects}" [items]="projects" bindLabel="name"  placeholder="Select Projects" [multiple]="true" [(ngModel)]="selectedProjects" [ngModelOptions]="{standalone: true}"></ng-select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Developer</label>
                        <ng-select [items]="developers" bindLabel="name" bindValue="id" placeholder="Select Developer"  [(ngModel)]="selectedDeveloper" [ngModelOptions]="{standalone: true}"></ng-select>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Show order</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.sortOrder.errors?.required && formGroup.controls.sortOrder.touched}" formControlName="sortOrder" type="number" class="form-control" >
                        <div *ngIf="formGroup.controls.sortOrder.errors?.required && formGroup.controls.sortOrder.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Cites</label>
                        <ng-select [items]="cites" bindLabel="name"  placeholder="Select Cites" (change)="onCityChange()"  [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}"></ng-select>
                      </div>
                      <div class="form-group col-lg-6 pt-4" *ngIf="selectedCity?.isCommercial == true">
                        <div class="custom-switch custom-switch-info  mb-1 mb-xl-0">
                          <input formControlName="isCommercial" type="checkbox" class="custom-control-input" id="color-switch-6" >
                          <label class="custom-control-label mr-1" for="color-switch-6">
                            <span>Commercial</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Property</label>
                        <ng-select [items]="properties" bindLabel="name" bindValue="id"  placeholder="Select Property"  [(ngModel)]="selectedProperty" [ngModelOptions]="{standalone: true}"></ng-select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Upload Image Pc</label>
                        <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                          Image dimensions is: 430*180
                        </ngb-alert>
                        <app-uploader  [type]="'imagePc'" *ngIf="!isEditingMode" [imageSrc]="formGroup.controls.imagePc.value.url" [formGroup]="formGroup" (uploadedImage)="doneUploadingImagePc($event)" [isMultiable]="false"></app-uploader>
                        <app-uploader  [type]="'imagePc'" *ngIf="isEditingMode" [imageSrc]="formGroup.controls.imagePc.value.url" [formGroup]="formGroup" (uploadedImage)="doneUploadingImagePc($event)" [isMultiable]="false"></app-uploader>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Upload Image Mobile</label>
                        <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                          Image dimensions is: 340*130
                        </ngb-alert>
                        <app-uploader [type]="'imageMobile'" *ngIf="!isEditingMode" [imageSrc]="formGroup.controls.imageMobile.value.url" [formGroup]="formGroup" (uploadedImage)="doneUploadingImageMobile($event)" [isMultiable]="false"></app-uploader>
                        <app-uploader [type]="'imageMobile'" *ngIf="isEditingMode" [imageSrc]="formGroup.controls.imageMobile.value.url"[formGroup]="formGroup" (uploadedImage)="doneUploadingImageMobile($event)" [isMultiable]="false"></app-uploader>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="4">
                  <a ngbNavLink>Gallery</a>
                  <ng-template ngbNavContent>
                    <div class="form-row">
                      <div class="form-group col-lg-6 border-right">
                        <label for="">Upload Image Pc</label>
                        <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                          Image dimensions is: 960*650
                        </ngb-alert>
                        <app-uploader  [type]="'galleryPc'" [images]="formGroup.controls.galleryPc.value" *ngIf="!isEditingMode" [formGroup]="formGroup" (uploadedImage)="doneUploadingImageGalleryPc($event)" [isMultiable]="true"></app-uploader>
                        <app-uploader  [type]="'galleryPc'" [images]="formGroup.controls.galleryPc.value" [tempImages]="gallerPcImageMap" *ngIf="isEditingMode" [formGroup]="formGroup" (deletedGallery)="deleteGallery($event)" (uploadedImage)="doneUploadingImageGalleryPc($event)" [isMultiable]="true"></app-uploader>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Upload Image Mobile</label>
                        <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                          Image dimensions is: 340*320
                        </ngb-alert>
                        <app-uploader  [type]="'galleryMobile'" [images]="formGroup.controls.galleryMobile.value" *ngIf="!isEditingMode" [formGroup]="formGroup" (uploadedImage)="doneUploadingImageGalleryMobile($event)" [isMultiable]="true"></app-uploader>
                        <app-uploader  [type]="'galleryMobile'" [images]="formGroup.controls.galleryMobile.value" [tempImages]="galleryMobileImageMap" *ngIf="isEditingMode" [formGroup]="formGroup" (deletedGallery)="deleteGallery($event)" (uploadedImage)="doneUploadingImageGalleryMobile($event)" [isMultiable]="true"></app-uploader>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="5">
                  <a ngbNavLink>Banner</a>
                  <ng-template ngbNavContent>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Upload Image Pc</label>
                        <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                          Image dimensions is: 1500*800
                        </ngb-alert>
                        <app-uploader  [type]="'bannerPc'" [imageSrc]="formGroup.controls.bannerPc.value.url" [formGroup]="formGroup" (uploadedImage)="doneUploadingImagePcBanner($event)" [isMultiable]="false"></app-uploader>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Upload Image Mobile</label>
                        <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                          Image dimensions is: 360*480
                        </ngb-alert>
                        <app-uploader [type]="'bannerMobile'" [imageSrc]="formGroup.controls.bannerMobile.value.url" [formGroup]="formGroup" (uploadedImage)="doneUploadingImageMobileBanner($event)" [isMultiable]="false"></app-uploader>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="6">
                  <a ngbNavLink>Project Service</a>
                  <ng-template ngbNavContent>
                    <ng-container *ngFor="let item of formGroup.controls.projectService['controls']; let i = index">
                      <div [formGroup]="item">
                        <div class="form-row">
                          <div class="form-group col-lg-6">
                            <label for="">Title En</label>
                            <input [ngClass]="{ 'is-invalid': item.controls.tilteEn.errors?.required && item.controls.tilteEn.touched}" formControlName="tilteEn" type="text" class="form-control" >
                            <div *ngIf="item.controls.tilteEn.errors?.required && item.controls.tilteEn.touched" class="help-block mt-1 text-danger"> <i
                              class="ft-alert-circle align-middle"></i> This field is required </div>
                          </div>
                          <div class="form-group col-lg-6">
                            <label for="">Title Ar</label>
                            <input dir="rtl" [ngClass]="{ 'is-invalid': item.controls.tilteAr.errors?.required && item.controls.tilteAr.touched}"  formControlName="tilteAr" type="text" class="form-control" >
                            <div *ngIf="item.controls.tilteAr.errors?.required && item.controls.tilteAr.touched" class="help-block mt-1 text-danger"> <i
                              class="ft-alert-circle align-middle"></i> This field is required </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-lg-6">
                            <label for="">Description En</label>
                            <textarea [ngClass]="{ 'is-invalid': item.controls.descriptionEn.errors?.required && item.controls.descriptionEn.touched}" name="" formControlName="descriptionEn" class="form-control" style="resize: none;" id="" cols="20" rows="5"></textarea>
                            <div *ngIf="item.controls.descriptionEn.errors?.required && item.controls.descriptionEn.touched" class="help-block mt-1 text-danger"> <i
                              class="ft-alert-circle align-middle"></i> This field is required </div>
                          </div>
                          <div class="form-group col-lg-6">
                            <label for="">Description Ar</label>
                            <textarea [ngClass]="{ 'is-invalid': item.controls.descriptionAr.errors?.required && item.controls.descriptionAr.touched}" dir="rtl" name="" formControlName="descriptionAr" class="form-control" style="resize: none;" id="" cols="30" rows="5"></textarea>
                            <div *ngIf="item.controls.descriptionAr.errors?.required && item.controls.descriptionAr.touched" class="help-block mt-1 text-danger"> <i
                              class="ft-alert-circle align-middle"></i> This field is required </div>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-danger mr-2 mb-2" (click)="removeFormControl(i)">Remove service</button>
                    </ng-container>
                    <button class="btn btn-success mb-2" (click)="addProject()">Add Service</button>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="basicnav" class="mt-2"></div>
            </form>

          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>
