<div class="row">
  <div class="col-12">
    <div class="content-header">Main Sections</div>
    <!-- <p class="content-sub-header mb-1"></p> -->
  </div>
</div>

<div class="row">
  <ng-container *ngFor="let item of itemList;let i = index;let last = last">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card" [routerLink]="'/content/'+item.url">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h5 class="mb-1 primary">{{item.count}}</h5>
                <span>{{item.url}}</span>
              </div>
              <div class="media-right align-self-center">
                <i [class]=" item.icon + ' primary font-large-2 float-right'"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

