<div class="row">
  <div class="col-12 d-flex justify-content-between">
    <div class="content-header col-lg-6">Add User</div>
    <button (click)="submitForm()" [disabled]="!formGroup.valid" class="btn btn-success col-lg-2">Add</button>
    <!-- <p class="content-sub-header mb-1">You can define your sub-header here</p> -->
  </div>
</div>

<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">User Info</h4>
        <h6 class="mt-2 mb-0">All fields are required, You must fill all fields to save your data.</h6>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <form [formGroup]="formGroup">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <label for="">Old password</label>
                  <fieldset class="form-group position-relative has-icon-right">
                    <input  [ngClass]="{ 'is-invalid': formGroup.controls.oldPassword.errors?.required && formGroup.controls.oldPassword.touched}" [type]="showPasswordOld ? 'text' : 'password'" formControlName="oldPassword" class="form-control" id="iconLeft2">
                    <div class="form-control-position" (click)="showPasswordOld = !showPasswordOld">
                      <i class="ft-eye"></i>
                    </div>
                    <div *ngIf="formGroup.controls.oldPassword.errors?.required && formGroup.controls.oldPassword.touched" class="help-block mt-1 text-danger"> <i
                      class="ft-alert-circle align-middle"></i> This field is required </div>
                  </fieldset>
                </div>
                <div class="form-group col-lg-6">
                  <label for="">New password</label>
                  <fieldset class="form-group position-relative has-icon-right">
                    <input  [ngClass]="{ 'is-invalid': formGroup.controls.newPassword.errors?.required && formGroup.controls.newPassword.touched}" [type]="showPasswordNew ? 'text' : 'password'" formControlName="newPassword" class="form-control" id="iconLeft3">
                    <div class="form-control-position" (click)="showPasswordNew = !showPasswordNew">
                      <i class="ft-eye"></i>
                    </div>
                    <div *ngIf="formGroup.controls.newPassword.errors?.required && formGroup.controls.newPassword.touched" class="help-block mt-1 text-danger"> <i
                      class="ft-alert-circle align-middle"></i> This field is formGroup </div>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>
