<div class="row">
  <div class="col-12 d-flex justify-content-between">
    <div class="content-header col-lg-6">Blog</div>
    <button (click)="cancel()" class="btn btn-danger col-lg-2">Cancel</button>
    <button (click)="submitForm()" [disabled]="!formGroup.valid" class="btn btn-success col-lg-2">Save</button>
    <!-- <p class="content-sub-header mb-1">You can define your sub-header here</p> -->
  </div>
</div>

<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">{{isEditingMode ? 'Edit Blog' : 'Add New Blog'}}</h4>
        <h6 class="mt-2 mb-0">All fields are required, You must fill all fields to save your data.</h6>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <form [formGroup]="formGroup">
              <ul ngbNav #basicnav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                  <a ngbNavLink>English</a>
                  <ng-template ngbNavContent>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Name</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.nameEn.errors?.required && formGroup.controls.nameEn.touched}" formControlName="nameEn" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.nameEn.errors?.required && formGroup.controls.nameEn.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Metatag Title</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.metatagTitleEn.errors?.required && formGroup.controls.metatagTitleEn.touched}" formControlName="metatagTitleEn" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.metatagTitleEn.errors?.required && formGroup.controls.metatagTitleEn.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Keyword</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.metatagTypeEn.errors?.required && formGroup.controls.metatagTypeEn.touched}" formControlName="metatagTypeEn" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.metatagTypeEn.errors?.required && formGroup.controls.metatagTypeEn.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Metatag Description</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.metatagDescriptionEn.errors?.required && formGroup.controls.metatagDescriptionEn.touched}" formControlName="metatagDescriptionEn" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.metatagDescriptionEn.errors?.required && formGroup.controls.metatagDescriptionEn.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="mx-auto">
                        <div id="full-wrapper">
                          <div id="full-container">
                            <label for="">Description</label>
                            <quill-editor formControlName="descriptionEn" (onContentChanged)="onContentChangedEn($event)"></quill-editor>
                            <div *ngIf="formGroup.controls.descriptionEn.errors?.required && formGroup.controls.descriptionEn.touched" class="help-block mt-1 text-danger"> <i
                              class="ft-alert-circle align-middle"></i> This field is required </div>
                              <p class="counter">Number of Words : {{editorEnCounter}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a ngbNavLink>Arabic</a>
                  <ng-template ngbNavContent>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Name</label>
                        <input dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.nameAr.errors?.required && formGroup.controls.nameAr.touched}" formControlName="nameAr" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.nameAr.errors?.required && formGroup.controls.nameAr.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Metatag Title</label>
                        <input dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.metatagTitleAr.errors?.required && formGroup.controls.metatagTitleAr.touched}" formControlName="metatagTitleAr" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.metatagTitleAr.errors?.required && formGroup.controls.metatagTitleAr.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Keyword</label>
                        <input dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.metatagTypeAr.errors?.required && formGroup.controls.metatagTypeAr.touched}" formControlName="metatagTypeAr" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.metatagTypeAr.errors?.required && formGroup.controls.metatagTypeAr.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Metatag Description</label>
                        <input dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.metatagDescriptionAr.errors?.required && formGroup.controls.metatagDescriptionAr.touched}" formControlName="metatagDescriptionAr" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.metatagDescriptionAr.errors?.required && formGroup.controls.metatagDescriptionAr.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="mx-auto">
                        <div id="full-wrapper">
                          <div id="full-container">
                            <label for="">Description</label>
                            <quill-editor formControlName="descriptionAr" (onContentChanged)="onContentChangedAr($event)"></quill-editor>
                            <div *ngIf="formGroup.controls.descriptionAr.errors?.required && formGroup.controls.descriptionAr.touched" class="help-block mt-1 text-danger"> <i
                              class="ft-alert-circle align-middle"></i> This field is required </div>
                              <p class="counter">Number of Words : {{editorArCounter}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="3">
                  <a ngbNavLink>Config</a>
                  <ng-template ngbNavContent>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <div class="custom-switch custom-switch-info  mb-1 mb-xl-0">
                          <input formControlName="isRelatedBlog" type="checkbox" class="custom-control-input" id="color-switch-6" >
                          <label class="custom-control-label mr-1" for="color-switch-6">
                            <span>Related Blog</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Phone</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.phone.errors?.required && formGroup.controls.phone.touched}" formControlName="phone" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.phone.errors?.required && formGroup.controls.phone.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Whats App number</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.whatsNumber.errors?.required && formGroup.controls.whatsNumber.touched}" formControlName="whatsNumber" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.whatsNumber.errors?.required && formGroup.controls.whatsNumber.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Tags</label>
                        <ng-select [ngClass]="{ 'is-invalid': !selectedTag}" [items]="tags" bindLabel="name" placeholder="Select Tags" [multiple]="true" [(ngModel)]="selectedTag" [ngModelOptions]="{standalone: true}"></ng-select>

                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Show order</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.sortOrder.errors?.required && formGroup.controls.sortOrder.touched}" formControlName="sortOrder" type="number" class="form-control" >
                        <div *ngIf="formGroup.controls.sortOrder.errors?.required && formGroup.controls.sortOrder.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>

                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6" *ngIf="formGroup.controls.isRelatedBlog.value == true">
                        <label for="">Related Blogs</label>
                        <ng-select [ngClass]="{ 'is-invalid': !selectedRelated}" [items]="related" bindLabel="name" placeholder="Select Blogs" [multiple]="true" [(ngModel)]="selectedRelated" [ngModelOptions]="{standalone: true}"></ng-select>
                      </div>
                      <div class="form-group col-lg-6" *ngIf="formGroup.controls.isRelatedBlog.value == false">
                        <label for="">Related Project</label>
                        <ng-select [ngClass]="{ 'is-invalid': !selectedRelated}" [items]="selectedRelated" bindLabel="name" placeholder="Select Projects" [multiple]="true" [(ngModel)]="selectedRelated" [ngModelOptions]="{standalone: true}"></ng-select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Upload Image Pc</label>
                        <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                          Image dimensions is: 430*180
                        </ngb-alert>
                        <app-uploader  [type]="'imagePc'" *ngIf="!isEditingMode" [imageSrc]="formGroup.controls.imagePc.value.url" [formGroup]="formGroup" (uploadedImage)="doneUploadingImagePc($event)" [isMultiable]="false"></app-uploader>
                        <app-uploader  [type]="'imagePc'" *ngIf="isEditingMode" [imageSrc]="formGroup.controls.imagePc.value.url" [formGroup]="formGroup" (uploadedImage)="doneUploadingImagePc($event)" [isMultiable]="false"></app-uploader>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Upload Image Mobile</label>
                        <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                          Image dimensions is: 335*190
                        </ngb-alert>
                        <app-uploader [type]="'imageMobile'" *ngIf="!isEditingMode" [imageSrc]="formGroup.controls.imageMobile.value.url" [formGroup]="formGroup" (uploadedImage)="doneUploadingImageMobile($event)" [isMultiable]="false"></app-uploader>
                        <app-uploader [type]="'imageMobile'" *ngIf="isEditingMode" [imageSrc]="formGroup.controls.imageMobile.value.url"[formGroup]="formGroup" (uploadedImage)="doneUploadingImageMobile($event)" [isMultiable]="false"></app-uploader>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="4">
                  <a ngbNavLink>Gallery</a>
                  <ng-template ngbNavContent>
                    <div class="form-row">
                      <div class="form-group col-lg-6 border-right">
                        <label for="">Upload Image Pc</label>
                        <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                          Image dimensions is: 960*650
                        </ngb-alert>
                        <app-uploader  [type]="'galleryPc'" [images]="formGroup.controls.galleryPc.value" *ngIf="!isEditingMode" [formGroup]="formGroup" (uploadedImage)="doneUploadingImageGalleryPc($event)" [isMultiable]="true"></app-uploader>
                        <app-uploader  [type]="'galleryPc'" [images]="formGroup.controls.galleryPc.value" [tempImages]="gallerPcImageMap" *ngIf="isEditingMode" [formGroup]="formGroup" (deletedGallery)="deleteGallery($event)" (uploadedImage)="doneUploadingImageGalleryPc($event)" [isMultiable]="true"></app-uploader>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Upload Image Mobile</label>
                        <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                          Image dimensions is: 340*320
                        </ngb-alert>
                        <app-uploader  [type]="'galleryMobile'" [images]="formGroup.controls.galleryMobile.value" *ngIf="!isEditingMode" [formGroup]="formGroup" (uploadedImage)="doneUploadingImageGalleryMobile($event)" [isMultiable]="true"></app-uploader>
                        <app-uploader  [type]="'galleryMobile'" [images]="formGroup.controls.galleryMobile.value" [tempImages]="galleryMobileImageMap" *ngIf="isEditingMode" [formGroup]="formGroup" (deletedGallery)="deleteGallery($event)" (uploadedImage)="doneUploadingImageGalleryMobile($event)" [isMultiable]="true"></app-uploader>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="5">
                  <a ngbNavLink>Banner</a>
                  <ng-template ngbNavContent>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Upload Image Pc</label>
                        <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                          Image dimensions is: 1500*800
                        </ngb-alert>
                        <app-uploader  [type]="'bannerPc'" [imageSrc]="formGroup.controls.bannerPc.value.url" [formGroup]="formGroup" (uploadedImage)="doneUploadingImagePcBanner($event)" [isMultiable]="false"></app-uploader>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Upload Image Mobile</label>
                        <ngb-alert style="padding: 7px;width: 315px;" type="primary" class="mb-2" [dismissible]="false">
                          Image dimensions is: 360*480
                        </ngb-alert>
                        <app-uploader [type]="'bannerMobile'" [imageSrc]="formGroup.controls.bannerMobile.value.url" [formGroup]="formGroup" (uploadedImage)="doneUploadingImageMobileBanner($event)" [isMultiable]="false"></app-uploader>
                      </div>
                    </div>
                  </ng-template>
                </li>
              </ul>

              <div [ngbNavOutlet]="basicnav" class="mt-2"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>
