<div class="row">
  <div class="col-12 d-flex justify-content-between">
    <div class="content-header col-lg-6">Cites</div>
    <button (click)="cancel()" class="btn btn-danger col-lg-2">Cancel</button>
    <button (click)="submitForm()" [disabled]="!formGroup.valid" class="btn btn-success col-lg-2">Save</button>
    <!-- <p class="content-sub-header mb-1">You can define your sub-header here</p> -->
  </div>
</div>

<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">{{isEditingMode ? 'Edit City' : 'Add New City'}}</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <form [formGroup]="formGroup">
              <ul ngbNav #basicnav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                  <a ngbNavLink>English</a>
                  <ng-template ngbNavContent>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Name</label>
                        <input [ngClass]="{ 'is-invalid': formGroup.controls.nameEn.errors?.required && formGroup.controls.nameEn.touched}" formControlName="nameEn" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.nameEn.errors?.required && formGroup.controls.nameEn.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a ngbNavLink>Arabic</a>
                  <ng-template ngbNavContent>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Name</label>
                        <input  dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.nameAr.errors?.required && formGroup.controls.nameAr.touched}" formControlName="nameAr" type="text" class="form-control" >
                        <div *ngIf="formGroup.controls.nameAr.errors?.required && formGroup.controls.nameAr.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="3">
                  <a ngbNavLink>Config</a>
                  <ng-template ngbNavContent>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Property Type</label>
                        <ng-select [items]="properties" bindLabel="name" bindValue="id" placeholder="Select Property"  [(ngModel)]="selectedProp" [ngModelOptions]="{standalone: true}"></ng-select>
                        <div *ngIf="!selectedProp" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Show Order</label>
                        <input  dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.sortOrder.errors?.required && formGroup.controls.sortOrder.touched}" formControlName="sortOrder" type="number" class="form-control" >
                        <div *ngIf="formGroup.controls.sortOrder.errors?.required && formGroup.controls.sortOrder.touched" class="help-block mt-1 text-danger"> <i
                          class="ft-alert-circle align-middle"></i> This field is required </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="">Upload Image Pc</label>
                        <app-uploader  [type]="'imagePc'" *ngIf="!isEditingMode" [imageSrc]="formGroup.controls.imagePc.value.url" [formGroup]="formGroup" (uploadedImage)="doneUploadingImagePc($event)" [isMultiable]="false"></app-uploader>
                        <app-uploader  [type]="'imagePc'" *ngIf="isEditingMode" [imageSrc]="formGroup.controls.imagePc.value.url" [formGroup]="formGroup" (uploadedImage)="doneUploadingImagePc($event)" [isMultiable]="false"></app-uploader>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="">Upload Image Mobile</label>
                        <app-uploader [type]="'imageMobile'" *ngIf="!isEditingMode" [imageSrc]="formGroup.controls.imageMobile.value.url" [formGroup]="formGroup" (uploadedImage)="doneUploadingImageMobile($event)" [isMultiable]="false"></app-uploader>
                        <app-uploader [type]="'imageMobile'" *ngIf="isEditingMode" [imageSrc]="formGroup.controls.imageMobile.value.url"[formGroup]="formGroup" (uploadedImage)="doneUploadingImageMobile($event)" [isMultiable]="false"></app-uploader>
                      </div>
                    </div>
                  </ng-template>
                </li>
              </ul>

              <div [ngbNavOutlet]="basicnav" class="mt-2"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>
