<div class="row">
  <div class="col-12 d-flex justify-content-between">
    <div class="content-header col-lg-6">Navbar</div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-content">
        <div class="card-body">
          <ngx-datatable #table class="bootstrap core-bootstrap" [rows]="rows" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [limit]="5" [rowHeight]="100" [reorderable]="true">
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop" [width]="col.width">
            </ngx-datatable-column>
            <ngx-datatable-column name="Active" prop="isActive" [width]="70">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div class="custom-switch custom-switch-info  mb-1 mb-xl-0">
                  <input type="checkbox" class="custom-control-input" [id]="'color-switch-' + row.id"
                    (change)="rowStatus(row.id)" [checked]="row.isActive">
                  <label class="custom-control-label mr-1" [for]="'color-switch-' + row.id"></label>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>
