<div class="row">
  <div class="col-12 d-flex justify-content-between">
    <div class="content-header col-lg-6">Footer links</div>
    <button (click)="cancel()" class="btn btn-danger col-lg-2">Cancel</button>
    <button (click)="submitForm()" [disabled]="!formGroup.valid" class="btn btn-success col-lg-2">Save</button>
    <!-- <p class="content-sub-header mb-1">You can define your sub-header here</p> -->
  </div>
</div>

<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">{{isEditingMode ? 'Edit link' : 'Add New link'}}</h4>
        <h6 class="mt-2 mb-0">All fields are required, You must fill all fields to save your data.</h6>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <form [formGroup]="formGroup">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <label for="">Title EN</label>
                  <input [ngClass]="{ 'is-invalid': formGroup.controls.tiltleEn.errors?.required && formGroup.controls.tiltleEn.touched}" formControlName="tiltleEn" type="text" class="form-control" >
                  <div *ngIf="formGroup.controls.tiltleEn.errors?.required && formGroup.controls.tiltleEn.touched" class="help-block mt-1 text-danger"> <i
                    class="ft-alert-circle align-middle"></i> This field is required </div>
                </div>
                <div class="form-group col-lg-6">
                  <label for="">Title AR</label>
                  <input dir="rtl" [ngClass]="{ 'is-invalid': formGroup.controls.tiltleAr.errors?.required && formGroup.controls.tiltleAr.touched}" formControlName="tiltleAr" type="text" class="form-control" >
                  <div *ngIf="formGroup.controls.tiltleAr.errors?.required && formGroup.controls.tiltleAr.touched" class="help-block mt-1 text-danger"> <i
                    class="ft-alert-circle align-middle"></i> This field is required </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <label for="">Url</label>
                  <input [ngClass]="{ 'is-invalid': formGroup.controls.url.errors?.required && formGroup.controls.url.touched}" formControlName="url" type="text" class="form-control" >
                  <div *ngIf="formGroup.controls.url.errors?.required && formGroup.controls.url.touched" class="help-block mt-1 text-danger"> <i
                    class="ft-alert-circle align-middle"></i> This field is required </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>
